body {
    background-color: rgb(16, 16, 16);
    color: white;
}

#jumbo {
    background-color: rgb(0, 0, 0);
}

#about {
    background-color: #a5a5a5;
    border-radius: 3%;
}

div h1 {
    font-size: 75px;
}

.navbar-toggler {
    align-items: center;
}

#ui {
    width: 50px;
    height: 50px;
}

.judul {
    font-size: 300;
    font-weight: 900;
    font-size-adjust: inherit;
}

.table {
    color: aquamarine;
}

#bio {
    color: rgb(127, 255, 212, 0.5)
}

.sosmed {
    align-content: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

a i {
    margin: 10px;
}

.rowContact {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 300px;
}

div h3 img {
    margin: 10px;
}

.first {
    color: #FB4264;
    font-size: 20vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
    text-align: center;
    align-items: center;
}

.first {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes first {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #020aff, .5vw .5vw .1vw #4c077e;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.first {
    animation: first 2s linear infinite;
    -moz-animation: first 2s linear infinite;
    -webkit-animation: first 2s linear infinite;
    -o-animation: first 2s linear infinite;
}

.imgabout {
    width: 500px;
    height: 350px;
    border-radius: 10%;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
}

footer {
    color: rgb(143, 143, 143);
    margin-bottom: 0px;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translateY(-90vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 20px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 25px;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;
}